<div class="container">
  <div class="title">
    <h4>Listado de productos</h4>
    <button type="button" class="btn btn-success" routerLink='/addProducto' routerLinkActive="router-link-active" >Agregar productos</button>
  </div>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Categoría</th>
        <th scope="col">Proveedor</th>
        <th scope="col">Precio de compra</th>
        <th scope="col">Precio de venta</th>
        <th scope="col">Stock</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let producto of productos; trackBy: trackById" class="table-light">

        <td>{{producto.nombre}}</td>
        <td>{{producto.descripcion}}</td>
        <td>{{producto.categoria.nombre}}</td>
        <td>{{producto.proveedor.nombre}}</td>
        <td>{{producto.precioCompra}}</td>
        <td>{{producto.precioVenta}}</td>
        <td>{{producto.stock}}</td>
        <td>
          <button class="btn btn-primary" routerLink="/editProducto/{{producto.idProducto}}">Editar</button>
          <button class="mt-1 btn btn-danger" (click)="deleteProduct(producto.idProducto!)">Eliminar</button>
          <button class="mt-1 btn btn-dark" routerLink="/venderD/{{producto.idProducto}}">Vender/Devolucion</button>
        </td>
      </tr>
      <tr *ngIf="productos.length === 0">
        <td colspan="8" class="text-center">No hay productos disponibles</td>
      </tr>
    </tbody>
  </table>
</div>
